node_modules/
dist/
temp/
.idea/
coverage
.env
npm-debug.log
.jshintrc
.DS_Store
.gitignore
.elasticbeanstalk

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
